.modal{
    visibility: hidden;
    position: fixed;
    z-index: 9999;
    background-color: rgba(255,255,255,.93);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    transition: all .4s ease-out;
    transform: scale(1.25);
    &-is-visible{
        opacity: 1;
        visibility: visible;
        transform: scale(1);
    }
    &-close{
        position: absolute;
        top: 20px;
        right: 20px;
        font-size: 2rem;
        transform: scaleX(1.3);
        font-weight: 500;
        color: $mainBlue;
        cursor: pointer;
        transform: color .3s ease-in-out;
        &:hover{
            color: $steelBlue;
        }
    }
    &-inner{
        position: absolute;
        width: 100%;
        top: 10%;
        transform: translateX(20%);
    }
}